body{
    margin: 0;
}
.dark{
    background-color: black;
    color: white;
}
.dark .searchable{
    border: 0.2rem solid white;
}
.dark .searchable:hover{
    background-color: rgb(129, 134, 138);
}
#navbar{
    display: flexbox;
    margin-top: 0;
    background-color: black;
    color: white;
    padding: 1rem;
    font-size: 2rem;
}
#navbar input{
    padding-right: 5rem;
    font-size: 2rem;
    margin-left: 30rem;
}
#navbar a,#navbar span{
    color: white;
    margin-left: 2rem;
    text-decoration: none;
    padding-right: 1rem;
}
#navbar a:hover,#navbar span:hover{
    color: rgb(181, 182, 182);
    cursor: pointer;
}

#sale-wrapper{
    display: flexbox;
    margin-top: 0;
    justify-items: center;
    padding: 1rem;
    font-size: 2rem;
    size: 2rem;
}
#sale-wrapper table{
    border-spacing: 5rem;
}
.searchable{
    padding: 5rem;
    border: 0.2rem solid black;
    min-width: 3rem;
    min-height: 3rem;
}
.searchable:hover{
    font-weight: bold;
    cursor: pointer;
    background-color: beige;
}
.hidden{
    display: none;
}